.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 5px;
}

.removeButton {
    float: right;
}

.yourTeam {
    padding-bottom: 20px;
}